:root{
    --clr-primary-100: rgb(29,149,238);
    --clr-secondary-200: rgb(246,250,255);

    -font-color-secondary: gray;
    --ff-primary: 'Roboto', 'sans serif'
    
    
}
html{
    font-size: 16px
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 480px){

    nav{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(29,149,238);
        width: 100%;
        font-size: 1em;
        padding: 1em;
        overflow: hidden;
        z-index: 1;
    }

    #nav-bar{
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        float: left;
        padding: 1em;
    }
    

    #wrapper{
        display: flex;
        width: 90vw;
        margin: 0 1.5rem;
        overflow: hidden;
        flex-direction: column;
        flex-flow: column wrap;
        

    }
    

    #overview{
        position: relative;
        margin-top: 5rem;
        font-size: 4rem;
        font-weight: 700;
    }

    #menu{
        position: relative;
        margin-top: 1rem;
        float: i;
    }
    #comment{
        position: relative;
        margin-top: -2rem;
        margin-left: 22rem;
        
    }
    #bell{
        position: relative;
        margin-top: -1rem;
        margin-left: 19rem;
    }

    #search{
        position: relative;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }

    
    #search-text{
        position: relative;
        margin-top: -2rem;
        margin-left: 2rem;
        font-size: 2rem;

    }

    #profile{
        background-color: var(--clr-secondary-200);
        border: 1px solid white;
        border-radius: 0.75rem;
        margin-top: 5rem;
        
    }
    #name{
        font-size: 2rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    #email{
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    #profile-picture{
        position: relative;
        margin-left: 19rem;
        margin-top: -4rem;
        width: 5rem;
        height: 5rem;
        border-radius: 100px;
    }
    

    #salary{
        color: gray;
       margin-top: 5rem;
       font-size: 1.5rem;
        margin-left: 1rem;
        word-spacing: 4rem;
        
    }

    #Growth{
        margin-left: 1rem;
        margin-top: 2rem;

    }
    #graph{
        position: relative;
        margin: 0rem 1rem;
       

    }
    #graph-img{
        margin-top: 1rem;
        width: 21rem;
        height: 15rem;

    }
    #radar-chart-div{
        margin-top: 2rem;
    }
    #radar-chart{
        margin: 0rem 1rem;
        width: 21rem;
        height: 15rem;
    }
    

    .widget{
        background-color: var(--clr-secondary-200);
        margin: 5rem 1rem;
        
        font-size: 2rem;
        padding: 2rem;
        border: 1px solid black;
        border-radius: 2rem;
    }

    .mini-profile-pic{
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid black;
        border-radius: 2rem;
    }
    .widget-icon{
        background-color: red;
        border: 1px solid red;
        border-radius: 100px;
        margin-top: -1rem;
        width: fit-content;
        padding: .6rem;
    }


    #calander{
        width: 100%;
        height: 100%;
        margin-top: 3rem;
        border: 1px solid gray;
        border-radius: 2rem;
        padding: .6rem;
        margin-bottom: 3rem;
    }

    .calander{
        width: 90%;
        height: 25rem;
    }
   

    
}
@media screen and (min-width: 780px){
    nav{
        position: fixed;
        
        left: 0;
        background-color: rgb(29,149,238);
        width: 100%;
        font-size: 1.5em;
        padding: 1em;
        overflow: hidden;
        z-index: 1;
    }

    #nav-bar{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        float: left;
        padding: 1em;
    }
    

    #wrapper{
        display: flex;
        width: 95vw;
        margin: 0 1.5rem;
        overflow: hidden;
        flex-direction: column;
        flex-flow: column wrap;
        

    }
    

    #overview{
        position: relative;
        margin-top: 8rem;
        font-size: 6rem;
        font-weight: 700;
    }

    #menu{
        position: relative;
        margin-top: 2rem;
        float: i;
    }
    #comment{
        position: relative;
        font-size: 2rem;
        margin-top: -2rem;
        margin-left: 49rem;
        
    }
    #bell{
        position: relative;
        font-size: 2rem;
        margin-top: -2rem;
        margin-left: 45rem;
    }

    #search{
        position: relative;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }

    
    #search-text{
        position: relative;
        margin-top: -2rem;
        margin-left: 2rem;
        font-size: 2rem;

    }

    #profile{
        background-color: var(--clr-secondary-200);
        border: 1px solid white;
        border-radius: 0.75rem;
        margin-top: 2rem;
    }
    #name{
        font-size: 5rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    #email{
        font-size: 3rem;
        margin-left: 1rem;
    }

    #profile-picture{
        position: relative;
        margin-left: 40rem;
        margin-top: -7rem;
        width: 10rem;
        height: 10rem;
        border-radius: 100px;
    }
    

    #salary{
        color: gray;
       margin-top: 5rem;
       font-size: 2rem;
        margin-left: 1rem;
        word-spacing: 10rem;
        
    }

    #Growth{
        margin-left: 2rem;
        margin-top: 4rem;
        font-size: 2rem;
        word-spacing: 30rem;

    }
    #graph{
        position: relative;
        margin: 0rem 1rem;
       

    }
    #graph-img{
        margin-top: 1rem;
        width: 40rem;
        height: 30rem;

    }
    #radar-chart-div{
        margin-top: 2rem;
    }
    #radar-chart{
        margin: 0rem 1rem;
        width: 40rem;
        height: 30rem;
    }
    

    .widget{
        background-color: var(--clr-secondary-200);
        margin: 5rem 1rem;
        
        font-size: 2rem;
        padding: 2rem;
        border: 1px solid black;
        border-radius: 2rem;
    }

    .mini-profile-pic{
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid black;
        border-radius: 2rem;
    }
    .widget-icon{
        background-color: red;
        border: 1px solid red;
        border-radius: 100px;
        width: fit-content;
        padding: .6rem;
    }


    #calander{
        width: 100%;
        height: 100%;
        margin-top: 3rem;
        border: 1px solid gray;
        border-radius: 2rem;
        padding: .6rem;
        margin-bottom: 3rem;
    }

    .calander{
        width: 90%;
        height: 40rem;
    }

}


@media screen and (min-width: 1100px) {
    body{
        background-color: var(--clr-primary-200);
    }
    nav{
        position: fixed;
        left: 0;
        background-color: rgb(29,149,238);
        width: 7vw;
        height: 100vw;
        font-size: 1.5em;
        padding: 1em;
        overflow: hidden;
        z-index: 1;
    }

    #nav-bar{
        display: flex;
        width: 80%;
        height: 95vh;
        color: white;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
        
        
    }
    

    #wrapper{
        display: flex;
        width: 95vw;
        margin: 0 10rem;
        
        flex-direction: column;
        flex-flow: column;
        

    }
    

    #overview{
        position: relative;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 4rem;
        font-weight: 700;
    }

    #menu{
        position: relative;
        margin-top: 7rem;
        
    }
    #comment{
        position: relative;
        font-size: 2rem;
        margin-top: -2rem;
        margin-left: 60rem;
        
    }
    #bell{
        position: relative;
        font-size: 2rem;
        margin-top: -2rem;
        margin-left: 65rem;
    }

    #search{
        position: relative;
        margin-top: -4rem;
        margin-left: 40rem;
        font-size: 1.5rem;
    }

    
    #search-text{
        position: relative;
        margin-top: -2rem;
        margin-left: 43rem;
        font-size: 2rem;

    }

    #profile{
        background-color: var(--clr-secondary-200);
        border: 1px solid black;
        width: 36rem;
        height: 45rem;
        border-radius: 0.75rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    #name{
        font-size: 2rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    #email{
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    #profile-picture{
        position: relative;
        margin-left: 27rem;
        margin-top: -6rem;
        width: 8rem;
        height: 8rem;
        border-radius: 100px;
    }
    

    #salary{
        color: gray;
       margin-top: 2rem;
       font-size: 1.4rem;
        margin-left: 2rem;
        word-spacing: 10rem;
        
    }

    #Growth{
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 1.5rem;
        word-spacing: 20rem;

    }
    #graph{
        position: relative;
        margin: 0rem 1rem;
       

    }
    #graph-img{
        margin-top: .6rem;
        margin-left: 2rem;
        width: 15rem;
        height: 15rem;

    }
    #radar-chart-div{
        
    }
    #radar-chart{
        margin: 0rem 2rem;
        width: 10rem;
        height: 10rem;
    }
    

    .widget{
        position: relative;
        display: flex;
        
        grid-template-rows: inherit;
        width: 22rem;
        height: 15rem;
        justify-content: baseline;
        flex-direction: row;
        row-gap: 1rem;
        background-color: var(--clr-secondary-200);
        
        font-size: 1.5rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 2rem;
    }

    .mini-profile-pic{
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid black;
        border-radius: 2rem;
    }
    .widget-icon{
        background-color: red;
        border: 1px solid red;
        border-radius: 100px;
        width: fit-content;
        padding: .6rem;
    }


    #calander{
        width: 40rem;
        height: 100%;
        margin-top: 3rem;
        border: 1px solid gray;
        border-radius: 2rem;
        padding: .6rem;
        margin-bottom: 3rem;
    }

    .calander{
        position: relative;
        margin-left: 45rem;
        margin-top: 50rem;
        width: 90%;
        height: 40rem;
    }

    
    
}
